


:root {
    --body: #070707;
    --white: #ffffff;
    --whitesub: #F5F6F7;
    --bgsection: #070707;
    --cmnbg: #0F0F0F;
    --cmnbox: #141718;
    --base: #25A56A;
    --base2: #FD3658;
    --base3: #8E55EA;
    --pra: #BAB9BB;
    --pra2: #E8ECEF;
    --title: #121519;
    --ratting: #FFBE57;
    --headborder: #212529;
    --hover: #fff;
    --border: #212529;
    --pra3: #FEFEFE;
    --viewbox: #343839;
    --subtitle: #222E48;
    --pricieborder: #343E56;
    --base2border: rgba(255, 251, 31, 0.20);
    --teamborder: #404A60;
    --placeholder: #B2B6BF;
    --danger: #ED5050;
    --success: #3FCA90;
    --success2: #2E7D32;
}